
$colorPrimary: #FFCCFF ;
$colorSecondary: #D37CCF; 
$colorTertiary: #CCFFCC;


body{
    background: rgb(237, 237, 158);
    margin: 0;
  
}


@keyframes coconuts{
    0%{transform: rotate(0deg)}
    20%{transform: rotate(10deg)}
    40%{transform: rotate(-10deg)}
    60%{transform: rotate(10deg)}
    80%{transform: rotate(-10deg)}
    100%{transform: rotate(0deg)}
}

@keyframes coconutsDrawerOpen{
    from{width: 0;}
    to{width: 60%;}
}
@keyframes coconutsDrawerClose{
    from{width: 60%;}
    to{width: 0;}
}

.players--container{
    width: 100%;
    min-height: 1rem;
    background-color: #333;
    margin: 1rem 0;
}


.container {
   
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
  .player{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    border: 1px solid $colorSecondary;
    box-shadow: 0px 0px 0px 2px #FFF, 0px 0px 0px 3px $colorSecondary ;
    border-radius: 20px;
    width: 80%;
    max-width: 500px;
    transition: transform 500ms ease-in-out;
    
  }

  .player p{
    position: absolute;
    margin: -15px;
    font-size: 0.9rem;
    
    
  }
  
  .draggable.dragging {
    opacity: .5;
  }
  
  
  .player input{
    width: 10px;
    text-align: center;
    background: none;
    border: none;
    appearance: none;
    -moz-appearance: textfield;
    width: 80%;
    font-family: "JustBubble";
    font-size: 2rem;

  }
  
  
  
  .rank{
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    width: 80%;
    min-width: 250px;
  }
  .placement{
    position: absolute;
    text-align: left;
    font-family: "JustBubble";
    color: $colorPrimary;
    font-size: 4rem;
    width: 100%;
    text-shadow: -1px 1px 0#D37CCF, 1px 1px 0#D37CCF, 1px -1px 0#D37CCF, -1px -1px 0#D37CCF;
    margin-left: 2%;
  }



 .modal--addPlayer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFCCFF;
    position: absolute;
    min-height: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border:#D37CCF 1px solid;
    border-radius: 20px;
    display: none;
    z-index: 2;
    
    &__label{
        text-align: center;
        width: 100%;
        margin: 10px;
    }
    &__input{
        background: white;
        width: 80%;
        border:#D37CCF 1px solid;
        border-radius: 20px;
        padding: 10px 0;
        margin: 0 0 10px 0;
        text-align: center;
    }
    &__btn{ 
        
        width: 44px;
        height: 44px;
        background: #FFF;
        border:#D37CCF 1px solid;
        border-radius: 200%;
        color: black;

    }

    &__shine{
        position: absolute;
        bottom: 5%;
        right: 5%;
    }
    &__error{
        position: absolute;
        bottom: -40%;
    }
 }

 #player{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
 }

