body {
  margin: 0;
}

body {
  background: rgb(237, 237, 158);
  margin: 0;
}

@keyframes coconuts {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes coconutsDrawerOpen {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}
@keyframes coconutsDrawerClose {
  from {
    width: 60%;
  }
  to {
    width: 0;
  }
}
.players--container {
  width: 100%;
  min-height: 1rem;
  background-color: #333;
  margin: 1rem 0;
}

.container {
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.player {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  border: 1px solid #D37CCF;
  box-shadow: 0px 0px 0px 2px #FFF, 0px 0px 0px 3px #D37CCF;
  border-radius: 20px;
  width: 80%;
  max-width: 500px;
  transition: transform 500ms ease-in-out;
}

.player p {
  position: absolute;
  margin: -15px;
  font-size: 0.9rem;
}

.draggable.dragging {
  opacity: 0.5;
}

.player input {
  width: 10px;
  text-align: center;
  background: none;
  border: none;
  appearance: none;
  -moz-appearance: textfield;
  width: 80%;
  font-family: "JustBubble";
  font-size: 2rem;
}

.rank {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  width: 80%;
  min-width: 250px;
}

.placement {
  position: absolute;
  text-align: left;
  font-family: "JustBubble";
  color: #FFCCFF;
  font-size: 4rem;
  width: 100%;
  text-shadow: -1px 1px 0 #D37CCF, 1px 1px 0 #D37CCF, 1px -1px 0 #D37CCF, -1px -1px 0 #D37CCF;
  margin-left: 2%;
}

.modal--addPlayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFCCFF;
  position: absolute;
  min-height: 150px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: #D37CCF 1px solid;
  border-radius: 20px;
  display: none;
  z-index: 2;
}
.modal--addPlayer__label {
  text-align: center;
  width: 100%;
  margin: 10px;
}
.modal--addPlayer__input {
  background: white;
  width: 80%;
  border: #D37CCF 1px solid;
  border-radius: 20px;
  padding: 10px 0;
  margin: 0 0 10px 0;
  text-align: center;
}
.modal--addPlayer__btn {
  width: 44px;
  height: 44px;
  background: #FFF;
  border: #D37CCF 1px solid;
  border-radius: 200%;
  color: black;
}
.modal--addPlayer__shine {
  position: absolute;
  bottom: 5%;
  right: 5%;
}
.modal--addPlayer__error {
  position: absolute;
  bottom: -40%;
}

#player {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.btn {
  cursor: pointer;
  background-color: #fff;
  border: 3px solid #D37CCF;
  border-radius: 35px;
  font-family: "JustBubble";
  color: #D37CCF;
  font-size: 27px;
}

.btn--plus, .btn--minus {
  height: 44px;
  width: 44px;
  object-fit: contain;
  cursor: pointer;
  z-index: 1;
}

.btn--continue {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--continue button {
  font-family: "JustBubble";
  border-radius: 35px;
  width: 123px;
  height: 44px;
  color: #D37CCF;
  background-color: none;
  border: 3px solid #D37CCF;
  font-size: 22px;
  margin-bottom: 15px;
}

.btn--close {
  position: absolute;
  width: 44px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  right: 0;
  top: 0;
  margin: -20px -20px 0 0;
  background-color: none;
  border: 3px solid #D37CCF;
  outline: 3px solid #000;
  font-family: "JustBubble";
  color: #D37CCF;
  font-size: 32px;
}

.start--modal__listOfPlayer .btn--close {
  position: absolute;
}

.btn--bottom {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.btn--startNewGame {
  background-color: #fff;
  border: 3px solid #D37CCF;
  border-radius: 35px;
  color: #D37CCF;
  padding: 10px;
  font-family: "JustBubble";
}

#btn--addPlayer {
  display: none;
  background-color: #fff;
  border: 3px solid #D37CCF;
  border-radius: 35px;
  color: #D37CCF;
  padding: 10px;
  font-family: "JustBubble";
  text-align: center;
}

.button--continue button {
  margin: 10px;
}

.btn--startNewGame {
  display: none;
  margin-bottom: 15px;
}

.start--modal__numberOfPlayer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 300px;
  display: none;
  justify-content: center;
  align-items: center;
  border: 5px solid #D37CCF;
  outline: 5px solid #000;
  border-radius: 35px;
  flex-flow: row wrap;
  background-color: #fff;
}

.start--modal__numberOfPlayer label {
  width: 100%;
  text-align: center;
  font-family: "JustBubble";
  color: #FFCCFF;
  font-size: 34px;
}

.start--modal__numberOfPlayer input {
  width: 40%;
  max-width: 200px;
  text-align: center;
  border: none;
  margin: 0 10px;
  font-family: "JustBubble";
  color: #FFCCFF;
  font-size: 72px;
  -moz-appearance: textfield;
  appearance: none;
}

.start--modal__listOfPlayer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #D37CCF;
  outline: 5px solid #000;
  border-radius: 35px;
  flex-flow: row wrap;
  background-color: #fff;
}

.start--modal__listOfPlayer label {
  color: #D37CCF;
}

.start--modal__listOfPlayer input {
  width: 100px;
  font-size: 13px;
  text-align: center;
}

.start--modal__listOfPlayer .button--continue {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start--modal__listOfPlayer .error {
  color: rgb(232, 67, 67);
  height: 20px;
  width: 90%;
  text-align: center;
}

.addPlayers {
  width: 100px;
  margin: 10px;
  text-align: center;
}

.start--modal__listOfPlayer:empty {
  display: none;
}

.modal--startNewGame {
  height: 150px;
  width: 80%;
  background-color: #fff;
  border: 3px solid #D37CCF;
  outline: 3px solid #000;
  border-radius: 35px;
  display: none;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  flex-flow: row wrap;
  text-align: center;
  z-index: 2;
}

@font-face {
  font-family: "JustBubble";
  src: url("./../assets/fonts/JustBubble.ttf");
}
@font-face {
  font-family: "SummerFruit";
  src: url("./../assets/fonts/summer_fruits_personal_use-webfont.woff");
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 300px;
}
.header--logo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.header--logo__img {
  height: 300px;
}
.header--nav {
  width: 100%;
  height: 300px;
  order: 1;
  display: flex;
  justify-content: end;
  overflow: hidden;
}
.header--nav__img {
  height: 44px;
  margin: 10px;
  transform-origin: bottom;
  z-index: 2;
  cursor: pointer;
}
.header--nav__drawer {
  position: relative;
  background: rgba(0, 0, 0, 0.92);
  z-index: 3;
  transform-origin: right;
  border-left: 4px solid #D37CCF;
  border-bottom: 4px solid #D37CCF;
  display: none;
}
.header--nav__list {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  color: #FFCCFF;
}

/*# sourceMappingURL=main.css.map */
