@font-face{
    font-family: "JustBubble";
    src: url("./../assets/fonts/JustBubble.ttf");
}
@font-face{
    font-family:"SummerFruit";
    src: url("./../assets/fonts/summer_fruits_personal_use-webfont.woff")
}

